apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-service
  namespace: frontend # 백엔드와 동일한 네임스페이스 사용 시
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend-service
  template:
    metadata:
      labels:
        app: frontend-service
    spec:
      containers:
        - name: frontend-service
          image: ghcr.io/ddubuk228/beadv4_4_fm_fe:latest # 깃액션에서 푸시할 이미지 이름
          ports:
            - containerPort: 80
          imagePullPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: frontend
spec:
  selector:
    app: frontend-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: ClusterIP