apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-service
  namespace: mossy # mossy 프로젝트 네임스페이스로 통합
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend-service
  template:
    metadata:
      labels:
        app: frontend-service
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: frontend-service
          image: ghcr.io/ddubuk228/beadv4_4_fm_fe:latest
          ports:
            - containerPort: 80
          imagePullPolicy: IfNotPresent 
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: mossy # mossy 프로젝트 네임스페이스로 통합
spec:
  selector:
    app: frontend-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: ClusterIP